  
<!-- 
    Credit goes to the Ruby on Rails team for this page which
    has been heavily based on the default Rails page that is
    built with a scaffolded application.

    Thanks a lot to them for their work.

    See Ruby on Rails if you want a kickass framework in Ruby:
    http://www.rubyonrails.org/
-->

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer" style="margin-top:50px;">
	<h2 style="text-align:center;"> Coming Soon! </h2>
</header>


